.pagecenter{
    display: table-cell;
    vertical-align:middle;
    width: 100vw;
    height: 100vh;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Geneva, Tahoma, sans-serif;
    font-size: 45px;
    text-align: center;
    color: white;
}

.input {
    text-align: center;
    border-radius: 15px;
    width: 100px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 0.8;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    position: relative;
    border: 0;
}

.target {
    text-align: center;
    border-radius: 15px;
    width: 300px;
    height: 100px;
    opacity: 0.8;
    border: 0;
}

.button {
    background-color: slateblue;
    color: aqua;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 15px;
    width: 300px;
    height: 100px;
    font-size: 110%;
    border: 0;
}

div {
    text-align: center;
    margin-top: 20px;
}

button {
    background-color: slateblue;
    color: turquoise;
}

i {
    font-family: 'Times New Roman', Times, serif;
}

a {
    color: rgb(204, 0, 153);
    font-size: 30px;
    width: 50px;
}

a:hover {
    color: aqua;
    text-decoration: none;
}

.icon {
    color: white;
    font-size: 50px;
}

.icon:hover {
    color: aqua;
    text-decoration: none;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    background: linear-gradient(45deg, #49a09d, #5f2c82);
    font-family: sans-serif;
    font-weight: 100;
    background-attachment: fixed;
}

table {
    width: 800px;
    border-collapse: collapse;
    overflow: hidden;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

th,
td {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}

th {
    text-align: center;
}

thead th {
    background-color: #55608f;
}

tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

tbody td {
    position: relative;
}

tbody td:hover:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: -1;
}